body {
    font-family: Arial;
    background: url(LUFY.jpg) no-repeat 40px 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #002fff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #cbd1ff;
}

.error {
    color: red;
}

